$white: #fff;
$black: #000;
$dance-red: #f60000;
$purple: #8d2ad2;
$light-grey: rgba(146, 146, 147, 0.8);
$medium-grey: #333;
$medium-grey-2: #4b4b4b;
$grey:#323232;
$dark:#171515;
//breakpoints
// breakpoint-xs: 0;
// breakpoint-sm: 576px;
// breakpoint-md: 768px;
// breakpoint-lg: 992px;
// breakpoint-xl: 1200px;
// Respond above.
// h1 {
//     font-size: 99px;
//     @include media-breakpoint-up(sm) {
//         font-size: 99px;
//     }
//     @include media-breakpoint-up(md) {
//         font-size: 99px;
//     }
// }