//ALL z-indexes
header.header {
    z-index: 10;
    .btn-1 {
        z-index: 99;
    }
}

.element--hidden {
    visibility: hidden;
    text-indent: -9999px;
    display: none
}

hr {
    border-top: 1px solid $light-grey
}

.black {
    background-color: $black;
}

body {
    background-color: #2f2f2f;
    color: white;
}

.mt-300px {
    margin-top: 300px;
}

.mb-400px {
    margin-bottom: 300px;
}

.mw--260 {
    max-width: 260px;
    width: 100%;
}

.mw--400 {
    max-width: 400px;
}

.mw--800 {
    max-width: 800px;
}

.mw--850 {
    max-width: 850px;
}

//  br desk/mob
// @include media-breakpoint-down(lg) {
//     .hide-desk {
//         display: block;
//     }
//     .hide-mob {
//         display: none;
//     }
// }
// @include media-breakpoint-up(lg) {
//     .hide-desk {
//         display: none;
//     }
//     .hide-mob {
//         display: block;
//     }
// }
//smooth scroll
html {
    scroll-behavior: smooth;
}

.hide-overflow {
    overflow: hidden;
}

//temove blue active
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

:focus {
    outline: none !important;
}

.btn-primary.focus,
.btn-primary:focus {
    outline: none !important;
    box-shadow: none;
}

.no-pad {
    padding: 0;
}

.bg--dark {
    background-color: #2f2f2f;
}

.bg--black {
    background-color: $black;
}

.white-bg {
    background-color: $white;
}

.lime-border {
    border: 1px solid $dance-red;
}

.scaling {
    animation: scale 2s;
    animation-iteration-count: infinite;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.spin {
    animation: spin 70s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.full-width {
    min-width: 100%;
}

//modal
.modal-content {
    border-radius: 0;
}


/* Fixes Firefox anomaly during image load */

@-moz-document url-prefix() {
    img:-moz-loading {
        visibility: hidden;
    }
}

//responsive video iframe
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

#bitnami-banner {
    display: none;
}

.videoWrapper::before {
    content: "";
    background-color: $dark;
    background-image: url("assets/images/tv-dance-live-logo-bw.svg");
    background-size: 100%;
    background-position: center;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.videoWrapper iframe,
.videoWrapper2 iframe,
.videoWrapper video,
.videoWrapper2 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
}

//extra spacing
.mt-6 {
    margin-top: 5rem;
}

.pt-6 {
    padding-top: 5rem;
}

.mb-6 {
    margin-bottom: 5rem;
}

.pb-6 {
    padding-bottom: 5rem;
}

.ml-6 {
    margin-left: 5rem;
}

.pl-6 {
    padding-left: 5rem;
}

.mr-6 {
    margin-right: 5rem;
}

.pr-6 {
    padding-right: 5rem;
}

.mt-7 {
    margin-top: 7rem;
}

.pt-7 {
    padding-top: 7rem;
}

.mb-7 {
    margin-bottom: 7rem;
}

.pb-7 {
    padding-bottom: 7rem;
}

.ml-7 {
    margin-left: 7rem;
}

.pl-7 {
    padding-left: 7rem;
}

.mr-7 {
    margin-right: 7rem;
}

.pr-7 {
    padding-right: 7rem;
}