/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&display=swap');
div.wrap.tvD4nceDotL1ve {
    a {
        color: $white;
        border: 0;
        cursor: pointer;
        transition: 0.5s;
        font-family: 'Josefin Sans', sans-serif;
        &:hover {
            text-transform: none;
            color: $dance-red;
        }
    }
    .dance--red {
        color: $dance-red;
        &:hover {
            text-transform: none;
            color: $white;
        }
    }
    h1 {
        font-family: 'Josefin Sans', sans-serif;
    }
    h2 {
        font-family: 'Josefin Sans', sans-serif;
    }
    .title--large {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 54px;
        color: $white;
        text-transform: none;
        letter-spacing: normal;
        @include media-breakpoint-down(md) {
            font-size: 36px;
        }
        span {
            color: $dance-red;
        }
    }
    .title--medium {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 34px;
        color: $white;
        text-transform: none;
        letter-spacing: normal;
        @include media-breakpoint-down(md) {
            font-size: 27px;
        }
        span {
            color: $dance-red;
        }
    }
    .title--small {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 27px;
        color: $white;
        text-transform: none;
        letter-spacing: normal;
        @include media-breakpoint-down(md) {
            font-size: 21px;
        }
        span {
            color: $dance-red;
        }
    }
    h2.sub-title {
        font-size: 25px;
        letter-spacing: 1px;
    }
    h3 {
        font-family: 'Josefin Sans', sans-serif;
    }
    h4 {
        font-family: 'Josefin Sans', sans-serif;
    }
    h5 {
        font-family: 'Josefin Sans', sans-serif;
    }
    p {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 100;
        font-size: 16px;
        color: $white;
    }
    hr.divider--custom {
        border-top: 0;
        border: 1px;
        height: 1px;
        width: 100%;
        background-color: $light-grey;
        ;
    }
    .btn--custom {
        display: block;
        font-family: 'Josefin Sans', sans-serif;
        background-color: $dance-red;
        border-radius: 50px;
        padding: 14px 20px 10px 20px;
        color: $white;
        border: 1px solid $dance-red;
        max-width: 240px;
        width: 100%;
        text-align: center;
        text-decoration: none;
        &:hover {
            transition: ease .5 all;
            background-color: black;
            border: 1px solid $dance-red;
            color: $dance-red;
            text-decoration: none;
        }
    }
    .btn--style2 {
        font-family: 'Josefin Sans', sans-serif;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 50px;
        padding: 14px 20px 10px 20px;
        color: $white;
        border: 1px solid rgba(255, 255, 255, 0.2);
        max-width: 160px;
        width: 100%;
        &:hover {
            transition: ease .5 all;
            background-color: rgba(0, 0, 0, 0.7);
            border: 1px solid rgba(0, 0, 0, 0.7);
            color: $dance-red;
        }
    }
    body {
        font-family: 'Josefin Sans', sans-serif;
    }
    .bold {
        font-family: 'Josefin Sans', sans-serif;
    }
    .italic {
        font-family: 'Josefin Sans', sans-serif;
    }
    .text-dance-red {
        color: $dance-red;
    }
    .text-dark {
        color: $dark;
    }
    .text-light-grey {
        color: $light-grey;
    }
    .text-light {
        font-weight: 100;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    div,
    span,
    td,
    tr,
    table,
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    a {
        &:hover {}
    }
    //buttons
    .btn-1 {
        background: $light-grey;
        color: $dark;
        transition: 0.3s ease-in-out;
        border: 0;
        border-radius: 15px;
        width: fit-content;
        font-weight: 600;
        cursor: pointer;
        &:hover {
            background-color: $white;
            color: $dance-red;
            text-decoration: none;
        }
    }
    .btn-2 {
        background: $dance-red;
        color: $dark;
        transition: 0.3s ease-in-out;
        border: 0;
        border-radius: 5px;
        &:hover {
            background-color: $white;
            color: $dance-red;
            text-decoration: none;
        }
    }
}