   div.wrap.tvD4nceDotL1ve {
       padding: 0;
       margin: 0;
       background-color: #2f2f2f;
       .container {
           max-width: 1068px;
       }
       .bg--img {
           display: block;
           margin: 0 auto;
           max-width: 1200px;
           background-image: url(https://tvdance.live/wp-content/themes/TVDanceLive-theme/assets/images/backlinks-page/img/tv-dance-live-video-events-bg.png);
           background-repeat: no-repeat;
           @include media-breakpoint-down(xs) {
               background-position: center 60%;
               background-size: 125% auto;
           }
           @include media-breakpoint-up(xs) {
               background-position: center 890px;
               background-size: 125% auto;
           }
           @include media-breakpoint-up(sm) {
               background-position: center 655px;
               background-size: 122% auto;
           }
           @include media-breakpoint-up(md) {
               background-position: center 650px;
               background-size: 125% auto;
           }
           @include media-breakpoint-up(lg) {
               background-position: center 715px;
               background-size: 100% auto;
           }
           .logo--align {
               display: block;
               margin: 0 auto;
               width: 200px;
               margin-top: 50px;
               @include media-breakpoint-up(sm) {
                   margin-top: 100px;
               }
           }
           .logo2--align {
               display: block;
               margin: 0 auto;
               width: 200px;
           }
           .text--pushdown {
               @include media-breakpoint-down(xs) {
                   margin-top: 154%;
               }
               @include media-breakpoint-up(xs) {
                   margin-top: 159%;
               }
               @include media-breakpoint-up(sm) {
                   margin-top: 110%;
               }
               @include media-breakpoint-up(md) {
                   margin-top: 110%;
                   margin-left: 60px;
               }
               @include media-breakpoint-up(lg) {
                   margin-top: 92%;
               }
           }
       }
   }