            .footer--align {
                border-top: 1px solid rgba(146, 146, 147, .8);
                border-bottom: 1px solid rgba(146, 146, 147, .8);
                display: block;
                padding-top: 7px;
                margin-top: 100px;
                margin-bottom: 50px;
                img.img-fluid {
                    max-width: 225px;
                    width: 100%;
                    float: none;
                    margin: 30px auto;
                    display: block;
                    @include media-breakpoint-up(lg) {
                        width: 100%;
                        margin: 32px 0 0 25px;
                    }
                }
                p {
                    float: none;
                    width: 100%;
                    text-align: center;
                    max-width: none;
                    margin-bottom: 30px;
                    font-weight: 300;
                    text-transform: none;
                    @include media-breakpoint-up(sm) {
                        color: #fff;
                        font-size: 1rem;
                        line-height: 1.5;
                        padding: 18px 21px 30px 21px;
                        margin-bottom: 0;
                        text-align: left;
                    }
                }
            }
            
            .social--align {
                width: 152px;
                display: block;
                margin: 0 auto 60px auto;
                .title--align {
                    color: $white;
                    text-transform: none;
                }
                a {
                    cursor: pointer;
                    width: 24px;
                    height: 24px;
                    img {
                        margin: 3px;
                        padding: 3px;
                        border: 1px solid #fff;
                        color: #171515;
                        width: 24px;
                        height: 24px;
                        float: right;
                        border-radius: 50%;
                        background-color: #fff;
                    }
                    img:hover {
                        cursor: pointer;
                        -webkit-animation: fa-spin .3s infinite linear;
                        -moz-animation: fa-spin .3s infinite linear;
                        -o-animation: fa-spin .3s infinite linear;
                        animation: fa-spin .3s infinite linear;
                        animation-iteration-count: 1;
                        transition: all .3s ease-in-out;
                        color: $dance-red;
                        border: 1px solid $grey;
                    }
                }
            }