  <link rel="stylesheet" href="https://tvdance.live/wp-content/themes/TVDanceLive-theme/assets/images/backlinks-page/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&display=swap" rel="stylesheet">
<style>
.entry-content img {
background-color:transparent!important;
}
</style>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="wrap tvD4nceDotL1ve">
        <section class="introduction bg--img">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <h1 class="element--hidden">TVDance.Live is proud to sponsor this event, provide filming services and deliver on demand dancing videos.</h1>
                        <h2 class="text-center pt-5 mt-5 mb-5 pb-3 title--large">Proudly filming this&nbsp;year's
                        </h2>
                        <img style="background-color: transparent !important;" class="logo2--align" src="https://tvdance.live/wp-content/themes/TVDanceLive-theme/assets/images/backlinks-page/img/KINGS.png" alt="Logo TVDance.Live Partner">
                        <h3 class="text-center mt-4 d-block mx-auto mw--400 title--medium">Watch this event <a href="https://tvdance.live/2019/09/24/live-tv-from-tv-dance-live/" class="dance--red">Live</a>.</h3>
                        <h3 class="text-center mt-2  d-block mx-auto mw--400 title--medium">12/06/2020</h3>
                        <h3 class="text-center mt-2  d-block mx-auto mw--400 title--medium">Delivered to you within&nbsp; milliseconds.
                        </h3>
                        <p class="text-center mt-4   d-block mx-auto  mw--400">Watch all the videos from this event using our video on demand and live services. Broaden your stance with unique insight into the mysterious world of dance.</p>
                        <a class="btn--custom mt-5  d-block mx-auto" href="https://tvdance.live/">Watch free dance videos</a>
                        <div class="col-12 col-sm-7 col-md-6 col-lg-6 text--pushdown">
                            <h3 class="text-left title--medium mt-5 pt-5">Providing you with a high quality video on demand service wherever you&nbsp; are.
                            </h3>
                            <p class="text-left mt-4">TVDance.Live provides archives of all the dance event action 247. Our accessible website library of content will inspire and move you towards new technical skills. Priding ourselves on high quality live events and years of
                                experience filming video on demand, we invite you to enjoy some of our quality content free of charge. </p>
                            <a class="btn--custom mt-5" href="https://tvdance.live/2019/09/24/live-tv-from-tv-dance-live/">Watch live dance</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="features">
            <div class="container bg--dark">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <h3 class="text-center mt-5 mb-3 pt-5 pb-3 mx-auto mb-5 title--medium  mw--850">Order personalized videography of your future dances or request access to exclusive unseen&nbsp; footage
                        </h3>
                        <a href="https://tvdance.live/">
                            <img class="img-fluid pl-4 pr-4 " src="https://tvdance.live/wp-content/themes/TVDanceLive-theme/assets/images/backlinks-page/img/tv-dance-live-on-mac-video-events-bg.jpg" alt="Logo TVDance.Live">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="downloads">
            <div class="container bg--dark">
                <div class="row px-4">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <h2 class="text-center title--large">Download our&nbsp; Apps
                        </h2>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                        <h3 class="text-center mt-5 mx-auto mb-4 title--medium  mw--800">Apple IOS</h3>
                        <hr class="divider--custom">
                        <a href="https://apps.apple.com/us/app/tvdancelive/id1330515511">
                            <img class="pl-4 pr-4 pt-4  d-block mx-auto mw--260" src="https://tvdance.live/wp-content/themes/TVDanceLive-theme/assets/images/backlinks-page/img/IOS-app.png" alt="Logo TVDance.Live">
                        </a>
                        <h4 class="mt-5 text-center title--small">The IOS App for TVDance.Live.</h4>
                        <hr class="divider--custom">
                        <p class="text-center">The TVDance.Live channel is available for your Apple TV viewing</p>
                        <a href="https://apps.apple.com/us/app/tvdancelive/id1330515511" class="btn--style2 btn--custom d-block mx-auto mt-5 mb-5" href="">MORE+</a>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                        <h3 class="text-center mt-5 mx-auto mb-4 title--medium  mw--800">Apple TV</h3>
                        <hr class="divider--custom">
                        <a href="https://tvdance.live/apps/">
                            <img class="pl-4 pr-4 pt-4  d-block mx-auto mw--260" src="https://tvdance.live/wp-content/themes/TVDanceLive-theme/assets/images/backlinks-page/img/Apple-TV.png" alt="Logo TVDance.Live">
                        </a>
                        <h4 class="mt-5 text-center title--small">TVDance.Live for your AppleTV.</h4>
                        <hr class="divider--custom">
                        <p class="text-center">This is available for download on all your Android devices.</p>
                        <a class="btn--style2 btn--custom d-block mx-auto mt-5 mb-5" href="https://tvdance.live/apps/">MORE+</a>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                        <h3 class="text-center mt-5 mx-auto mb-4 title--medium  mw--800">Android</h3>
                        <hr class="divider--custom">
                        <a href="https://www.amazon.com/tvstartup-com-TV-Dance-Live/dp/B0747XC4Z8/ref=sr_1_2?ie=UTF8&qid=1501707189&sr=8-2&keywords=dance+tv">
                            <img class="pl-4 pr-4 pt-4  d-block mx-auto mw--260" src="https://tvdance.live/wp-content/themes/TVDanceLive-theme/assets/images/backlinks-page/img/Android.png" alt="Logo TVDance.Live">
                        </a>
                        <h4 class="mt-5 text-center title--small">The Android App for TVDance.Live.</h4>
                        <hr class="divider--custom">
                        <p class="text-center">Available for download on all your Apple tablet and mobile devices.</p>
                        <a href="https://www.amazon.com/tvstartup-com-TV-Dance-Live/dp/B0747XC4Z8/ref=sr_1_2?ie=UTF8&qid=1501707189&sr=8-2&keywords=dance+tv" class="btn--style2 btn--custom d-block mx-auto mt-5 mb-5" href="">MORE+</a>
                    </div>
                </div>
        </section>
        <section class="tvd-footer">
            <div class="container  bg--dark">
                <div class="row mx-4 footer--align">
                    <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                        <a href="https://tvdance.live">
                            <img src="https://tvdance.live/wp-content/themes/TVDanceLive-theme/assets/images/backlinks-page/img/logo-tv-dance-live.png" alt="TV Dance Live Logo" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-12 col-sm-8 col-md-9 col-lg-9">
                        <p class="text-white">
                            <a class="dance--red" href="https://tvdance.live/">TVDANCE.LIVE</a> is an independent broadcasting company that produces video at a variety of dance events for the community of professional dancers, artists &amp; TV engineers.
                            We collaborate with global clients, agencies and organisations to bring together the leading experts in the dance industry, and we then use these recordings to guarantee high-quality educational events, training and content
                            for professional&nbsp; growth. </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="last">
            <div class="container  bg--dark">
                <div class="row mx-4">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                        <div class="social--align">
                            <h4 class="text-center title--align">Follow us: </h4>
                            <a href="https://www.youtube.com/channel/UChBrlEPRx3pECUMD8Z0rMmA">
                                <img src="https://tvdance.live/wp-content/themes/TVDanceLive-theme/assets/images/backlinks-page/img/youtube.png" alt="TVDance Live Social Channels">
                            </a>
                            <a href="https://www.instagram.com/tvdance.live/">
                                <img src="https://tvdance.live/wp-content/themes/TVDanceLive-theme/assets/images/backlinks-page/img/instagram.png" alt="TVDance Live Social Channels">
                            </a>
                            <a href="https://www.linkedin.com/company/tvdance-live/about/">
                                <img src="https://tvdance.live/wp-content/themes/TVDanceLive-theme/assets/images/backlinks-page/img/linkedin.png" alt="TVDance Live Social Channels">
                            </a>
                            <a href="https://www.facebook.com/TvDance.live/">
                                <img src="https://tvdance.live/wp-content/themes/TVDanceLive-theme/assets/images/backlinks-page/img/facebook.png" alt="TVDance Live Social Channels">
                            </a>
                            <a href="https://twitter.com/tvdancelive">
                                <img src="https://tvdance.live/wp-content/themes/TVDanceLive-theme/assets/images/backlinks-page/img/twitter.png" alt="TVDance Live Social Channels">
                            </a>
                        </div>
                        <p class="text-center mb-5">Copyright © 2019 <a class="dance--red" href="https://tvdance.live/">TvDance.Live</a> All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </section>
        </div>